<section class="house-select">
  <form class="houses-form">
    <mat-form-field>
      <mat-label>Houses</mat-label>
      <input
        type="text"
        placeholder="Select a house"
        matInput
        [formControl]="control"
        [matAutocomplete]="houseSearch"
      />
      <mat-autocomplete
        #houseSearch="matAutocomplete"
        [displayWith]="mutateSelectionForDisplay"
      >
        <mat-option *ngFor="let house of houses" [value]="house">
          {{ house.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</section>
<section class="house-persons">
  <ul>
    <li *ngFor="let member of members">{{ member.name }}</li>
  </ul>
</section>
