.quotes-container {
  background-color: #272727;
  height: 100%;
  padding-top: 1.25rem;
  padding-left: 0.625rem;
  border-top: 0.313rem solid black;

  .quotes-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .quote {
      display: flex;
      justify-content: flex-start;

      .bullet {
        font-size: 1.4rem;
        font-weight: 600;
        position: relative;
        bottom: 0.5rem;
      }
    }
  }

  .btn-randomize-quotes {
    font-family: inherit;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    margin-left: 0.2rem;
    width: 16rem;
    padding: 0.5rem;
    border-radius: 10rem;
    font-size: 0.7rem;
    letter-spacing: 0.15rem;
    transition: all 0.1s;
    position: relative;
    z-index: 1;
    background-color: #f7c386;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10rem;
      z-index: -2;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      transition: all 0.1s;
      border-radius: 10rem;
      z-index: -1;
    }

    &:hover {
      color: black;
      box-shadow: 0px 0px 5px 1px #f3bf40;
      background-color: #f3bf40;
      &:before {
        width: 100%;
      }
    }

    &:active {
      background-color: #b4b314;
      box-shadow: 0 3px #915c21;
      transform: translateY(4px);
    }
  }
}
