<section class="persons-select">
  <form class="person-form">
    <mat-form-field>
      <mat-label>Persons</mat-label>
      <input
        type="text"
        placeholder="Select a person"
        matInput
        [formControl]="control"
        [matAutocomplete]="personSearch"
      />
      <mat-autocomplete
        #personSearch="matAutocomplete"
        [displayWith]="mutateSelectionForDisplay"
      >
        <mat-option *ngFor="let person of persons" [value]="person">
          {{ person.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</section>
<section class="person-details">
  <ng-template [ngIf]="!!personDetails">
    <div>Name: {{ personDetails.name }}</div>
    <div>
      House:
      <a
        href="javascript:void(0)"
        (click)="redirectToHouse(personDetails.house.slug)"
        >{{ personDetails.house.name }}</a
      >
    </div>
    <div>
      <span>Quotes:</span>
      <ul>
        <li *ngFor="let quote of personDetails.quotes">{{ quote }}</li>
      </ul>
    </div>
    <button (click)="replaceQuotes()">Replace quotes</button>
  </ng-template>
</section>
