<div class="persons-container">
  <section class="persons-select">
    <form class="person-form">
      <mat-form-field>
        <input
          type="text"
          placeholder="Select a person"
          matInput
          [formControl]="control"
          [matAutocomplete]="personSearch"
        />
        <mat-icon matSuffix>keyboard_double_arrow_down</mat-icon>
        <mat-autocomplete
          #personSearch="matAutocomplete"
          [displayWith]="mutateSelectionForDisplay"
        >
          <mat-option *ngFor="let person of filteredPersons" [value]="person">
            {{ person.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </section>
  <app-person-quotes [selectedPerson]="selectedPerson" />
</div>
