.house-members {
  position: relative;

  .members-head {
    padding-bottom: 1.25rem;
    font-size: 1.4rem;
    text-decoration: underline;
    font-weight: 600;
  }

  .members-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .member-field {
      a {
        text-decoration: none;
        color: inherit;
        font-size: 1rem;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 85%;
          height: 0.125rem;
          border-radius: 0.125rem;
          background-color: #e2af6d;
          bottom: -0.188rem;
          left: 0;
          transform-origin: right;
          transform: scaleX(0);
          transition: transform 0.2s ease-in-out;
        }

        &:hover:before {
          transform-origin: left;
          transform: scaleX(1);
        }

        span {
          font-size: 1.2rem;
          position: relative;
          bottom: 2px;
        }
      }
    }
  }
}

.house-logo {
  position: absolute;
  top: 0rem;
  right: 3.125rem;

  img {
    height: 65vh;
  }
}
