<section class="person-details">
  <ng-template [ngIf]="!!personDetails">
    <div class="person-name">Name: {{ personDetails.name }}</div>
    <div class="person-house">
      House:
      <a href="javascript:void(0)" (click)="redirectToHouse(personDetails)"
        >{{ personDetails.house?.name }}&emsp;<span>&rArr;</span></a
      >
    </div>
    <div class="person-quotes">
      <div class="lbl-quotes">Quotes</div>
      <div class="quote" *ngFor="let quote of personDetails.quotes">
        <div class="bullet">&raquo;&ensp;</div>
        <div class="text">{{ quote }}</div>
      </div>
    </div>
    <button class="btn-replace-quotes" (click)="replaceQuotes()">
      Replace quotes
    </button>
  </ng-template>
</section>
